<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sdkfacebook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mainactivity.Help_support_activity"></activity>
        <activity android:name=".doctor.doctor_main_activity" />
        <activity android:name=".doctor.doctor_accout" />
        <activity android:name=".doctor.doctor_my_info" />
        <activity android:name=".doctor.doctor_my_patient" />
        <activity android:name=".doctor.doctor_home_page" />
        <activity android:name=".home_page.HomePage" />
        <activity android:name=".changeinformation.About_healthlife_activity" />
        <activity android:name=".changeinformation.change_password_activity" />
        <activity android:name=".changeinformation.change_email_activity" />
        <activity android:name=".mainactivity.setting_account_activity" />
        <activity android:name=".mainactivity.MainHealthLifePage" />
        <activity android:name=".signin.ResetPasswordPage" />
        <activity android:name=".WelcomePage" />
        <activity android:name=".signup.VerificationPage" />
        <activity android:name=".signin.ForgotPasswordEmailPage" />
        <activity android:name=".signin.ForgotPasswordPage" />
        <activity android:name=".signup.SignUpPage" />
        <activity android:name=".signin.SignInPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mainactivity.SettingAccount" />
    </application>

</manifest>